header{
    display: flex;
    justify-content: right;
    align-items: center;

    padding-right: 1rem;

    height: 9%;

    background-color: var(--dark-gray);
    color: var(--white);
}

#profile{
    display:flex;
    align-items: center;
    color: var(--white);
}

#profile-name{
    margin-right: .5rem;
}

#profile>img{
    border-radius: 50%;
}

#start-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-block: 5%;

    height: 50%;
}

#start-section>p{
    color: var(--light-gray);
    font-size: 1.5rem;
}

#start-section>.btn{
    height: 10rem;
    width: 17rem;

    border-radius: 5rem;

    background-color: var(--white);

    font-size: 3rem;
}

#creations-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary-title{
    padding-bottom: 2rem;

    color: var(--white);
    font-size: 2.5rem;
}

#cards-area{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 5rem;
    row-gap: 4rem;

    width: 100%;
}

.card{
    aspect-ratio: 11 / 10;
    width: 17rem;

    background-color: var(--light-gray);
    border-radius: 2.5rem;

    text-align: center;
}

.secundary-title{
    margin: 0;
    margin-top: 1rem;

    font-weight: 300;
}

.tags{
    display:flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
}

.tag{
    width: fit-content;

    margin-left: 0.4rem;
    padding-block: .1rem;
    padding-inline: .5rem;

    border-radius: 1rem;

    background-color: #aaa;
}
